:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: "#2b2b2b";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root {
  font-family: "Poppins", sans-serif!important;
  font-weight: 400;
  color: #2b2d42;
}

body {
  margin: 0;
}

img {
  image-orientation: from-image; 
}

.li {
  list-style:square;
  padding: 0.25rem 0;
  color: #2b2b2b;
  font-size: 1rem;
}


.MuiInputLabel-root {
  font-family: "Poppins", sans-serif!important;
  color: #9c9c9c !important;
}

.MuiInputBase-input {
  font-family: "Poppins", sans-serif!important;
  color: #2b2b2b;
}

.MuiOutlinedInput-input::placeholder {
      font-size: "12px";
      color: "#94a3b8";
      opacity: 1
    }


.MuiTableHead-root .MuiTableCell-root {
  font-family: "Poppins", sans-serif!important;
  font-weight: 600;
  font-size: .7rem;
  padding: 14px;
  /* color: #727c86; */
  color: #ffffff;
  text-transform: uppercase;
}

.MuiTableBody-root .MuiTableCell-root {
  font-family: "Poppins", sans-serif!important;
  font-size: .75rem;
  color: #444;
  padding:10px 14px;
}