:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2b2b2b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root {
  font-family: "Poppins", sans-serif!important;
  font-weight: 400;
  color: #2b2d42;
}

body {
  margin: 0;
}

img {
  image-orientation: from-image; 
}

.li {
  list-style:square;
  padding: 0.25rem 0;
  color: #2b2b2b;
  font-size: 1rem;
}


.MuiInputLabel-root {
  font-family: "Poppins", sans-serif!important;
  color: #9c9c9c !important;
}

.MuiInputBase-input {
  font-family: "Poppins", sans-serif!important;
  color: #2b2b2b;
}

.MuiOutlinedInput-input::placeholder {
      font-size: "12px";
      color: #94a3b8;
      opacity: 1
    }


.MuiTableHead-root .MuiTableCell-root {
  font-family: "Poppins", sans-serif!important;
  font-weight: 600;
  font-size: .7rem;
  padding: 14px;
  /* color: #727c86; */
  color: #ffffff;
  text-transform: uppercase;
}

.MuiTableBody-root .MuiTableCell-root {
  font-family: "Poppins", sans-serif!important;
  font-size: .75rem;
  color: #444;
  padding:10px 14px;
}


/* Style for the rendered content from the database */


.rendered-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  width: 100%;
  table-layout: fixed;
}

.rendered-content table td, 
.rendered-content table th {
  border: 1px solid #ced4da; /* This adds the border */
  padding: 8px 12px;
  min-width: 1em;
  vertical-align: top;
  text-align: left;
}

.rendered-content table th {
  background-color: #f1f5f9;
  font-weight: bold;
}

/* Ensure bullet points look correct too */
.rendered-content ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.rendered-content h1, 
.rendered-content h2, 
.rendered-content h3 
.rendered-content h4 {
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}