:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: "#2b2b2b";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root {
  font-family: "Poppins", sans-serif!important;
  font-weight: 400;
  color: #2b2d42;
}

body {
  margin: 0;
}

.li {
  list-style:square;
  padding: 0.25rem 0;
  color: #2b2b2b;
  font-size: .8rem;
}

.MuiInputLabel-root {
  font-family: "Poppins", sans-serif!important;
  color: #9c9c9c !important;
}